<!DOCTYPE html>
<html>
  <head>
    <title>Rails Best Practices - {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Xinmin Labs" />
    <meta name="google-site-verification" content="KDVRO6hdZ0Vww31dac2Yomyd7xjmMMFEZw2Fzq5acuY" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  </head>

  <body>
    {% include navbar.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-4">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js_dependencies.html %}
  </body>
</html>
